@font-face {font-family: "Dia Gothic"; font-weight: 100; src: url(./files/KBO-Dia-Gothic_light.woff);}
@font-face {font-family: "Dia Gothic"; font-weight: 400; src: url(./files/KBO-Dia-Gothic_medium.woff);}
@font-face {font-family: "Dia Gothic"; font-weight: 700; src: url(./files/KBO-Dia-Gothic_bold.woff);}

/* 전체 */
* {color: #000831; margin: 0; padding: 0; text-align: center; font-family: "Dia Gothic"; font-weight: 700; font-size: 12px; list-style: none; text-decoration-line: none;  -webkit-touch-callout: none; -moz-user-select: none; -ms-user-select: none; -webkit-user-select: none; user-select: none;}
*::-webkit-scrollbar {display: none;}

/* 헤더 */
header {width: 100vw; height: 20vw; position: fixed; top: 0; left: 0; background: #fff;}
header > a > img {height: 10vw; margin: 5vw 0 2vw 0;}

/* 푸터 */
footer {width: 100vw; height: 15vw; position: fixed; bottom: 0; left: 0; background: #fff;}
footer > ul {width: 80vw; height: 5vw; margin: 5vw 0 0 10vw; display: flex; justify-content: center;}
footer > ul > li {width: auto; padding: 0 3vw;}
footer > ul > li > a {font-size: 14px;}

/* 오프셋 */
#headerOffset {width: 100vw; height: 20vw; display: block; visibility: hidden;}
#footerOffset {width: 100vw; height: 15vw; display: block; visibility: hidden;}
#playerButtonOffset {width: 100vw; height: 10vw; visibility: hidden;}
#fixturesButtonOffset {width: 100vw; height: 10vw; visibility: hidden;}

/* 선수단 */

.playerButton {width: 100vw; height: 10vw; position: fixed; top: 20vw; left: 0; background: #fff;}
.playerButton > button {width: 15vw; height: 6vw; background: #fff; color: #000831; margin: 0 2vw; border: 1px solid #000831; border-radius: 10px;}

#playerA > div {width: 90vw; margin-left: 5vw; margin-top: 10vw; overflow: hidden; text-align: center;}
#playerA > div > p {width: 90vw; height: 6vw;}
#playerA > div > div {width: 18.5vw; height: 30vw; display: flex; justify-content: center; flex-direction: column; align-items: center; border-radius: 10px; background: #fff; box-shadow: 0px 0px 5px 1px #00083120; float: left; margin: 2vw;}
#playerA > div > div > div {width: 18.5vw; height: 22vw; overflow: hidden; box-shadow: none;}
#playerA > div > div > div > img {height: 28vw; margin-top: 2vw;}
#playerA > div > div > p {width: 18.5vw; height: 8vw; background: #000831; color: #fff; border-radius: 0 0 10px 10px; display: flex; justify-content: center; align-items: center;}
#playerA > div > div > p > span {margin-right: 4px; color: #61f2ff; font-size: inherit; letter-spacing: -2px;}

#playerU18 {display: none;}
#playerU18 > div {width: 90vw; margin-left: 5vw; margin-top: 10vw; overflow-x: scroll; text-align: center;}
#playerU18 > div > p {width: 90vw; height: 6vw;}
#playerU18 > div > div {width: 18.5vw; height: 26.5vw; display: flex; justify-content: center; flex-direction: column; align-items: center; border-radius: 10px; background: #fff; box-shadow: 0px 0px 5px 1px #00083120; float: left; margin: 2vw;}
#playerU18 > div > div > div {width: 18.5vw; height: 18.5vw; overflow: hidden; box-shadow: none;}
#playerU18 > div > div > div > img {width: 18.5vw; border-radius: 10px 10px 0 0;}
#playerU18 > div > div > p {width: 18.5vw; height: 8vw; background: #000831; color: #fff; border-radius: 0 0 10px 10px; display: flex; justify-content: center; align-items: center;}
#playerU18 > div > div > p > span {margin-right: 4px; color: #61f2ff; font-size: inherit; letter-spacing: -2px;}

#playerU15 {display: none;}
#playerU15 > div {width: 90vw; margin-left: 5vw; margin-top: 10vw; overflow-x: scroll; text-align: center;}
#playerU15 > div > p {width: 90vw; height: 6vw;}
#playerU15 > div > div {width: 18.5vw; height: 26.5vw; display: flex; justify-content: center; flex-direction: column; align-items: center; border-radius: 10px; background: #fff; box-shadow: 0px 0px 5px 1px #00083120; float: left; margin: 2vw;}
#playerU15 > div > div > div {width: 18.5vw; height: 18.5vw; overflow: hidden; box-shadow: none;}
#playerU15 > div > div > div > img {width: 18.5vw; border-radius: 10px 10px 0 0;}
#playerU15 > div > div > p {width: 18.5vw; height: 8vw; background: #000831; color: #fff; border-radius: 0 0 10px 10px; display: flex; justify-content: center; align-items: center;}
#playerU15 > div > div > p > span {margin-right: 4px; color: #61f2ff; font-size: inherit; letter-spacing: -2px;}

/* 일정 */
.fixturesButton {width: 100vw; height: 10vw; position: fixed; top: 20vw; left: 0; background: #fff;}
.fixturesButton > button {width: 15vw; height: 6vw; background: #fff; color: #000831; margin: 0 2vw; border: 1px solid #000831; border-radius: 10px;}

div[onclick*="fixtures20"] > table {width: 90vw; margin-left: 5vw;}
div[onclick*="fixtures20"] > table > tbody > tr {height: 8vw;}
div[onclick*="fixtures20"] > table > tbody > tr > td:nth-child(1) {width: 32vw; font-size: 16px; text-align: right;}
div[onclick*="fixtures20"] > table > tbody > tr > td:nth-child(4) {width: 10vw; font-size: 16px;}
div[onclick*="fixtures20"] > table > tbody > tr > td:nth-child(7) {width: 32vw; font-size: 16px; text-align: left;}
div[onclick*="fixtures20"] > table > tbody > tr > td:nth-child(4n+2) {width: 8vw;}
div[onclick*="fixtures20"] > table > tbody > tr > td:nth-child(4n+2) > img {height: 5vw; margin-top: 1vw;}
td[colspan="7"] {text-align: center !important; font-weight: 100; font-size: 10px !important;; vertical-align: top;}
