@font-face {font-family: "Paperlogy"; font-weight: 300; src: url(./files/Paperlogy-3Light.ttf);}
@font-face {font-family: "Paperlogy"; font-weight: 300; src: url(./files/Paperlogy-6SemiBold.ttf);}
@font-face {font-family: "Paperlogy"; font-weight: 900; src: url(./files/Paperlogy-9Black.ttf);}

* {color: #000000; margin: 0; padding: 0; text-align: center; font-family: "Paperlogy"; font-weight: 900; font-size: 12px; list-style: none; text-decoration-line: none; border-collapse: collapse; border-spacing: 0; word-break: keep-all; -webkit-tap-highlight-color: transparent; user-select: none;}
*::-webkit-scrollbar {display: none;}

body {position: absolute; background: #fafafa;}
#actualContents {display: none;}

/* 헤더 */
header {width: 100vw; height: 80px; position: fixed; top: 0; left: 0; background: #fafafa; z-index: 99; display: flex; justify-content: center; align-items: center; z-index: 100;}
header > div {width: fit-content; position: absolute;}
header > div:nth-of-type(1) {left: 5vw;}
header > div:nth-of-type(1) > img {width: auto; height: 40px; padding: 5vw 0;}
header > div:nth-of-type(2) {left: calc(10vw + 40px);}
header > div:nth-of-type(2) > img {width: auto; height: 20px; padding: 5vw 0;}
header > p {width: fit-content; position: absolute; left: 20vw; text-align: left; font-size: 24px; color: #000060; line-height: 24px; margin: calc(8px + 5vw) 0;}

/* 푸터 */
footer {width: 100vw; height: fit-content; padding: 16px 0; position: fixed; left: 0; bottom: 0; background: #fafafa; z-index: 100; box-shadow: 0 0 4px 2px #00000020;}
footer > p {width: 100vw; font-size: 14px; font-weight: 300;}
footer > img {width: 20px; height: 20px; position: absolute; right: 10px; top: 10px; filter: brightness(0) saturate(100%) invert(0%) sepia(90%) saturate(7460%) hue-rotate(63deg) brightness(96%) contrast(93%);}

/* 스켈레톤 */
#skeleton {position: absolute; z-index: 2000;}
#skeleton > div {background: linear-gradient(75deg, #f0f0f0 25%, #e8e8e8 50%, #f0f0f0 75%); background-size: 200% 100%; animation: shimmer 2s infinite; border-radius: 20px;}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}

/* 메뉴 */
#menu {width: 60vw; height: 200vh; position: fixed; top: 0; left: -60vw; background-color: #fafafa; z-index: 1000;}
#menuBg {width: 100vw; height: 200vh; position: fixed; top: 0; left: 0; background: #00000020; opacity: 0; display: none; z-index: 999;}
#menu > div {width: 50vw; height: 32px; padding: 8px 0; margin: 8px 0 8px 5vw; border-radius: 24px; text-align: left; font-size: 24px; display: flex; align-items: center;}
#menu > div:nth-of-type(1) {margin-top: 100px;}
#menu > div > img {width: auto; height: 24px; margin: 0 8px;}
#menu > div:hover {color: #fafafa; background: #000060;}

/* 로딩 */
#loading {width: 100vw; height: 200vh; position: fixed; top: 0; left: 0; background: #fafafa; z-index: 99;}

/* 홈 화면 */
#nextMatch {width: 90vw; height: 60px; padding: 8px 0; box-shadow: 0 0 4px 2px #00000020; border-radius: 20px; margin: 100px 0 0 5vw;}
#nextMatch > div:nth-of-type(1) {width: 90vw; height: 40px; display: flex; align-items: center;}
#nextMatch > div:nth-of-type(1) > p:nth-of-type(1) {width: 22.5vw; padding: 0 2.5vw; font-size: 16px; text-align: right;}
#nextMatch > div:nth-of-type(1) > p:nth-of-type(2) {width: 22.5vw; padding: 0 2.5vw; font-size: 16px; text-align: left;}
#nextMatch > div:nth-of-type(1) > div:nth-of-type(1) {width: 7.5vw; display: flex; align-items: center; justify-content: center;}
#nextMatch > div:nth-of-type(1) > div:nth-of-type(1) > img {height: 20px;}
#nextMatch > div:nth-of-type(1) > div:nth-of-type(2) {width: 15vw; height: 24px; font-size: 16px; display: flex; align-items: center; justify-content: center; margin: 0 2.5vw; border-radius: 15vw;}
#nextMatch > div:nth-of-type(1) > div:nth-of-type(3) {width: 7.5vw; display: flex; align-items: center; justify-content: center;}
#nextMatch > div:nth-of-type(1) > div:nth-of-type(3) > img {height: 20px;}
#nextMatch > div:nth-of-type(2) {width: 90vw; height: 20px;}
#nextMatch > div:nth-of-type(2) > p {font-weight: 300;}

#prevMatch {width: 90vw; margin: 20px 0 0 5vw; box-shadow: 0 0 4px 2px #00000020; border-radius: 20px; display: flex; align-items: center; justify-content: center; flex-direction: column;}
#prevMatch > div {display: flex; align-items: center; justify-content: center; margin-top: 16px;}
#prevMatch > div > div {width: 16vw; height: 76px;}
#prevMatch > div > div > div {width: 16vw; height: 40px; margin-bottom: 8px;}
#prevMatch > div > div > div > img {width: auto; height: 40px;}
#prevMatch > div > div > p:nth-of-type(1) {width: 10vw; height: 20px; color: #fafafa; margin: 0 3vw; line-height: 20px; border-radius: 10px; letter-spacing: 1px;}
#prevMatch > div > div > p:nth-of-type(2) {width: 8vw; height: 4px; margin: 4px 4vw 0 4vw; font-size: 16px; border-radius: 10vw;}
#prevMatch > a > p {font-weight: 300; padding: 8px 0 16px 0;}

#standingsHome {width: 90vw; margin-left: 5vw; margin-top: 20px; box-shadow: 0 0 4px 2px #00000020; border-radius: 20px; display: flex; justify-content: center; align-items: center; flex-direction: column;}
#standingsHome > div {width: 90vw; height: fit-content; margin-top: 16px;}
#standingsHome > div > img {height: 28px;}
#standingsHome > table {width: 80vw; vertical-align: middle; margin-top: 8px;}
#standingsHome > table > thead > tr {height: 36px;}
#standingsHome > table > thead > tr > th {font-weight: 300; font-size: 12px;}
#standingsHome > table > tbody > tr {height: 36px;}
#standingsHome > table > tbody > tr > td {font-size: 12px;}
#standingsHome > table > tbody > tr > td > img {height: 20px; vertical-align: middle;}
#standingsHome > table > tbody > tr > td:nth-of-type(1) {width: 10vw;}
#standingsHome > table > tbody > tr > td:nth-of-type(2) {width: 10vw;}
#standingsHome > table > tbody > tr > td:nth-of-type(3) {width: 25vw; padding-left: 5vw; text-align: left;}
#standingsHome > table > tbody > tr > td:nth-of-type(n+4) {width: 15vw;}
#standingsHome > a > p {font-weight: 300; padding: 8px 0 16px 0;}

/* 선수단 */
.playerButton {width: 100vw; height: 40px; position: fixed; top: 79px; left: 0; background: #fafafa; z-index: 98;}
.playerButton > button {width: 30vw; height: 40px; background: #fafafa; border: none; margin: 0; font-size: 16px;}
.playerButton > button:hover {color: #000060; border-bottom: 4px solid #000060;}

#playerA {margin-top: 160px;}
#playerA > div > p {width: 100vw; font-size: 16px; margin: 40px 0 8px 0;}
#playerA > div > p > span {font-size: 16px; margin-left: 8px; color: #000060;}
#playerA > div > div {width: 90vw; margin-left: 5vw;}
#playerA > div > div:nth-of-type(2n-1) {display: flex; align-items: center; margin-top: 40px;}
#playerA > div > div:nth-of-type(2n-1) > p:nth-of-type(1) {width: 45vw; text-align: left; font-size: 20px;}
#playerA > div > div:nth-of-type(2n-1) > p:nth-of-type(1) > span {margin-left: 8px; color: #000060; font-size: 20px;}
#playerA > div > div:nth-of-type(2n-1) > p:nth-of-type(n+2) {width: calc(45vw / 6); font-weight: 300;}
#playerA > div > div:nth-of-type(2n) > div {height: 60px; display: flex; align-items: center; border-bottom: 1px solid #00000020;}
#playerA > div > div:nth-of-type(2n) > div:nth-of-type(1) {border-top: 1px solid #00000020; margin-top: 20px;}
#playerA > div > div:nth-of-type(2n) > div > p:nth-of-type(1) {width: 10vw; padding-right: 5vw; font-size: 20px; text-align: right; color: #000060;}
#playerA > div > div:nth-of-type(2n) > div > p:nth-of-type(2) {width: 30vw; font-size: 20px; text-align: left;}
#playerA > div > div:nth-of-type(2n) > div > p:nth-of-type(n+3) {width: calc(45vw / 6); font-size: 16px; font-weight: 300;}

#playerU18 {margin-top: 160px;}
#playerU18 > div > p {width: 100vw; font-size: 16px; margin: 40px 0 8px 0;}
#playerU18 > div > p > span {font-size: 16px; margin-left: 8px; color: #000060;}
#playerU18 > div > div {width: 90vw; margin-left: 5vw;}
#playerU18 > div > div:nth-of-type(2n-1) {display: flex; align-items: center; margin-top: 40px;}
#playerU18 > div > div:nth-of-type(2n-1) > p:nth-of-type(1) {width: 45vw; text-align: left; font-size: 20px;}
#playerU18 > div > div:nth-of-type(2n-1) > p:nth-of-type(1) > span {margin-left: 8px; color: #000060; font-size: 20px;}
#playerU18 > div > div:nth-of-type(2n-1) > p:nth-of-type(n+2) {width: calc(45vw / 4); font-weight: 300;}
#playerU18 > div > div:nth-of-type(2n) > div {height: 60px; display: flex; align-items: center; border-bottom: 1px solid #00000020;}
#playerU18 > div > div:nth-of-type(2n) > div:nth-of-type(1) {border-top: 1px solid #00000020; margin-top: 20px;}
#playerU18 > div > div:nth-of-type(2n) > div > p:nth-of-type(1) {width: 15vw; font-size: 24px; text-align: left; color: #000060;}
#playerU18 > div > div:nth-of-type(2n) > div > p:nth-of-type(2) {width: 30vw; font-size: 24px; text-align: left;}
#playerU18 > div > div:nth-of-type(2n) > div > p:nth-of-type(n+3) {width: calc(45vw / 4); font-size: 16px; font-weight: 300;}

#playerU15 {margin-top: 160px;}
#playerU15 > div > p {width: 100vw; font-size: 16px; margin: 40px 0 8px 0;}
#playerU15 > div > p > span {font-size: 16px; margin-left: 8px; color: #000060;}
#playerU15 > div > div {width: 90vw; margin-left: 5vw;}
#playerU15 > div > div:nth-of-type(2n-1) {display: flex; align-items: center; margin-top: 40px;}
#playerU15 > div > div:nth-of-type(2n-1) > p:nth-of-type(1) {width: 45vw; text-align: left; font-size: 20px;}
#playerU15 > div > div:nth-of-type(2n-1) > p:nth-of-type(1) > span {margin-left: 8px; color: #000060; font-size: 20px;}
#playerU15 > div > div:nth-of-type(2n-1) > p:nth-of-type(n+2) {width: calc(45vw / 4); font-weight: 300;}
#playerU15 > div > div:nth-of-type(2n) > div {height: 60px; display: flex; align-items: center; border-bottom: 1px solid #00000020;}
#playerU15 > div > div:nth-of-type(2n) > div:nth-of-type(1) {border-top: 1px solid #00000020; margin-top: 20px;}
#playerU15 > div > div:nth-of-type(2n) > div > p:nth-of-type(1) {width: 15vw; font-size: 24px; text-align: left; color: #000060;}
#playerU15 > div > div:nth-of-type(2n) > div > p:nth-of-type(2) {width: 30vw; font-size: 24px; text-align: left;}
#playerU15 > div > div:nth-of-type(2n) > div > p:nth-of-type(n+3) {width: calc(45vw / 4); font-size: 16px; font-weight: 300;}

#playerU18, #playerU15 {margin-top: 160px; display: none;}

/* 선수 정보 */
#playerProfile {width: 100vw; margin-top: 60px;}
#playerProfile > div:nth-of-type(1) {width: 100vw; height: 20px; padding-top: 40px; background: #fafafa; display: flex; justify-content: center; align-items: center;}
#playerProfile > div:nth-of-type(1) > p {font-weight: 300;}
#playerProfile > div:nth-of-type(2) {width: 100vw; height: 40px; padding-bottom: 4px; background: #fafafa; display: flex; justify-content: center; align-items: center;}
#playerProfile > div:nth-of-type(2) > p {font-size: 40px;}
#playerProfile > div:nth-of-type(2) > p > span {color: #000060; font-size: 40px; margin-right: 12px;}
#playerProfile > div:nth-of-type(2) > div {width: 30px; height: 30px; border: 3px solid #000060; border-radius: 50%; overflow: hidden; display: flex; justify-content: center; align-items: center; margin-left: 12px;}
#playerProfile > div:nth-of-type(2) > div > img {height: 32px;}

#playerSNS > div {width: 90vw; border-radius: 20px; box-shadow: 0 0 4px 2px #00000020; padding: 8px 0; margin: 40px 0 0 5vw; display: flex; justify-content: center; align-items: center;}
#playerSNS > div > img:nth-of-type(1) {height: 24px; margin-right: 8px;}
#playerSNS > div > img:nth-of-type(2) {height: 24px;}

#playerInfo {width: 90vw; margin: 20px 0 0 5vw; border-radius: 20px; box-shadow: 0 0 4px 2px #00000020; display: flex; align-items: center; justify-content: center;}
#playerInfo > div {width: calc(70vw / 3); padding: 16px 0;}
#playerInfo > div:nth-of-type(1) {margin-left: 5vw;}
#playerInfo > div:nth-of-type(3) {margin-right: 5vw;}
#playerInfo > div > p:nth-of-type(1) {font-weight: 300; margin-bottom: 4px;}
#playerInfo > div > p:nth-of-type(2) {font-size: 16px;}

#playedSEFC {width: 90vw; margin: 20px 0 20px 5vw; padding: 16px 0; display: flex; flex-direction: column; justify-content: center; align-items: center; border-radius: 20px; box-shadow: 0 0 4px 2px #00000020;}
#playedSEFC > p:nth-of-type(1) {font-size: 16px;}
#playedSEFC > p:nth-of-type(2) {font-weight: 300; margin-top: 14px;}
#playedSEFC > div {width: 90vw; display: flex; justify-content: center; align-items: center;}
#playedSEFC > div:nth-of-type(1) {margin: 16px 0 8px 0;}
#playedSEFC > div > div {width: calc(70vw / 6);}
#playedSEFC > div > div > p:nth-of-type(1) {font-weight: 300; margin-bottom: 4px;}
#playedSEFC > div > div > p:nth-of-type(2) {font-size: 24px;}

#playedSEFCU18 {width: 90vw; margin: 20px 0 20px 5vw; padding: 16px 0; display: flex; flex-direction: column; justify-content: center; align-items: center; border-radius: 20px; box-shadow: 0 0 4px 2px #00000020;}
#playedSEFCU18 > p:nth-of-type(1) {font-size: 16px;}
#playedSEFCU18 > p:nth-of-type(2) {font-weight: 300; margin-top: 14px;}
#playedSEFCU18 > div {width: 90vw; display: flex; justify-content: center; align-items: center;}
#playedSEFCU18 > div:nth-of-type(1) {margin: 16px 0 8px 0;}
#playedSEFCU18 > div > div {width: calc(70vw / 4);}
#playedSEFCU18 > div > div > p:nth-of-type(1) {font-weight: 300; margin-bottom: 4px;}
#playedSEFCU18 > div > div > p:nth-of-type(2) {font-size: 24px;}

#playedSEFCU15 {width: 90vw; margin: 20px 0 20px 5vw; padding: 16px 0; display: flex; flex-direction: column; justify-content: center; align-items: center; border-radius: 20px; box-shadow: 0 0 4px 2px #00000020;}
#playedSEFCU15 > p:nth-of-type(1) {font-size: 16px;}
#playedSEFCU15 > p:nth-of-type(2) {font-weight: 300; margin-top: 14px;}
#playedSEFCU15 > div {width: 90vw; display: flex; justify-content: center; align-items: center;}
#playedSEFCU15 > div:nth-of-type(1) {margin: 16px 0 8px 0;}
#playedSEFCU15 > div > div {width: calc(70vw / 4);}
#playedSEFCU15 > div > div > p:nth-of-type(1) {font-weight: 300; margin-bottom: 4px;}
#playedSEFCU15 > div > div > p:nth-of-type(2) {font-size: 24px;}

#statsBySeason {width: 90vw; margin: 20px 0 20px 5vw; padding: 16px 0; display: flex; flex-direction: column; justify-content: center; align-items: center; border-radius: 20px; box-shadow: 0 0 4px 2px #00000020;}
#statsBySeason > p {font-size: 16px; margin-bottom: 16px;}
#statsBySeason > div {width: 90vw; height: fit-content; display: flex; justify-content: center; align-items: center;}
#statsBySeason > div:nth-of-type(1) > p {width: 10vw; font-weight: 300; margin-bottom: 8px;}
#statsBySeason > div:nth-of-type(n+2) > p {width: 10vw; font-size: 16px;}
#statsBySeason > div:nth-of-type(n+3) {padding-top: 8px;}

#playedMatch {width: 100vw; height: 70vh; margin-top: 30vh; background: #fafafa; border-radius: 10vw 10vw 0 0; box-shadow: 0 0 4px 2px #00000020; display: flex; flex-direction: column; position: fixed; bottom: -100vh; z-index: 400;}
#playedMatch > div {width: 100vw; height: calc(70vh - 160px); margin: 40px 0 20px 0; overflow: scroll;}
#playedMatch > div > div {width: 90vw; margin-left: 5vw; padding: 8px 0; display: flex; justify-content: center; align-items: center; border-bottom: 2px solid #00000020;}
#playedMatch > div > div:nth-of-type(1) {border-top: 2px solid #00000020;}
#playedMatch > div > div > p:nth-of-type(1) {width: 10vw; font-size: 16px; font-weight: 300;}
#playedMatch > div > div > p:nth-of-type(2) {width: 20vw; font-size: 16px;}
#playedMatch > div > div > p:nth-of-type(3) {width: 15vw; font-size: 16px; font-weight: 300;}
#playedMatch > div > div > p:nth-of-type(4) {width: 10vw; font-size: 16px; font-weight: 300;}
#playedMatch > div > div > p:nth-of-type(5) {width: 10vw; font-size: 16px;}
#playedMatch > div > div > p:nth-of-type(5) > img {width: 20px;}
#playedMatch > div > div > p:nth-of-type(5) > img:nth-of-type(n+2) {margin-left: -12px;}
#playedMatch > div > div > p:nth-of-type(6) {width: 10vw; padding: 4px 0; margin: 0 2.5vw; font-size: 16px; border-radius: 20px; color: #fafafa;}
#playedMatch > p {width: 100vw; margin-top: 40px; opacity: .5;}

#playedMatchU18 {width: 100vw; height: 70vh; margin-top: 30vh; background: #fafafa; border-radius: 10vw 10vw 0 0; box-shadow: 0 0 4px 2px #00000020; display: flex; flex-direction: column; position: fixed; bottom: -100vh; z-index: 400;}
#playedMatchU18 > div {width: 100vw; height: calc(70vh - 160px); margin: 40px 0 20px 0; overflow: scroll;}
#playedMatchU18 > div > div {width: 90vw; margin-left: 5vw; padding: 8px 0; display: flex; justify-content: center; align-items: center; border-bottom: 2px solid #00000020;}
#playedMatchU18 > div > div:nth-of-type(1) {border-top: 2px solid #00000020;}
#playedMatchU18 > div > div > p:nth-of-type(1) {width: 10vw; font-size: 16px;}
#playedMatchU18 > div > div > p:nth-of-type(2) {width: 20vw; font-size: 16px;}
#playedMatchU18 > div > div > p:nth-of-type(3) {width: 15vw; font-size: 16px;}
#playedMatchU18 > div > div > p:nth-of-type(4) {width: 10vw; font-size: 16px;}
#playedMatchU18 > div > div > p:nth-of-type(5) {width: 10vw; font-size: 16px;}
#playedMatchU18 > div > div > p:nth-of-type(5) > img:nth-of-type(n+2) {margin-left: -12px;}
#playedMatchU18 > div > div > p:nth-of-type(6) {width: 10vw; padding: 4px 0; margin: 0 2.5vw; font-size: 16px; border-radius: 20px; color: #fafafa;}
#playedMatchU18 > p {width: 100vw; margin-top: 40px; opacity: .5;}

#playedMatchU15 {width: 100vw; height: 70vh; margin-top: 30vh; background: #fafafa; border-radius: 10vw 10vw 0 0; box-shadow: 0 0 4px 2px #00000020; display: flex; flex-direction: column; position: fixed; bottom: -100vh; z-index: 400;}
#playedMatchU15 > div {width: 100vw; height: calc(70vh - 160px); margin: 40px 0 20px 0; overflow: scroll;}
#playedMatchU15 > div > div {width: 90vw; margin-left: 5vw; padding: 8px 0; display: flex; justify-content: center; align-items: center; border-bottom: 2px solid #00000020;}
#playedMatchU15 > div > div:nth-of-type(1) {border-top: 2px solid #00000020;}
#playedMatchU15 > div > div > p:nth-of-type(1) {width: 10vw; font-size: 16px;}
#playedMatchU15 > div > div > p:nth-of-type(2) {width: 20vw; font-size: 16px;}
#playedMatchU15 > div > div > p:nth-of-type(3) {width: 15vw; font-size: 16px;}
#playedMatchU15 > div > div > p:nth-of-type(4) {width: 10vw; font-size: 16px;}
#playedMatchU15 > div > div > p:nth-of-type(5) {width: 10vw; font-size: 16px;}
#playedMatchU15 > div > div > p:nth-of-type(5) > img:nth-of-type(n+2) {margin-left: -12px;}
#playedMatchU15 > div > div > p:nth-of-type(6) {width: 10vw; padding: 4px 0; margin: 0 2.5vw; font-size: 16px; border-radius: 20px; color: #fafafa;}
#playedMatchU15 > p {width: 100vw; margin-top: 40px; opacity: .5;}

#playedMatchBG {width: 100vw; height: 100vh; background: #00000010; border-radius: 20px 20px 0 0; box-shadow: 0 0 4px 2px #00000020; position: fixed; top: 0; display: none; opacity: 0; z-index: 300;}

/* 선수 기록 */
.statsButton {width: 100vw; height: 40px; position: fixed; top: 79px; left: 0; background: #fafafa; z-index: 98;}
.statsButton > button {width: 30vw; height: 40px; background: #fafafa; border: none; margin: 0; font-size: 16px;}
.statsButton > button:hover {color: #000060; border-bottom: 4px solid #000060;}

.statsSeason {width: 50vw; padding-left: 10vw; margin-top: 160px; display: flex; align-items: baseline;}
.statsSeason > p:nth-of-type(1) {font-size: 32px; padding-right: 20px; text-align: left;}
.statsSeason > p:nth-of-type(n+2):nth-of-type(-n+3) {width: 10vw; font-size: 16px;}
.statsSeason > p:nth-of-type(4) {font-size: 16px; font-weight: 300; padding-left: 20px;}

#stats > .stats > table {width: 90vw; margin: 20px 0 0 5vw;}
#stats > .stats > table > thead > tr > th {height: 40px; font-weight: 300;}
#stats > .stats > table > tbody > tr {height: 60px;}
#stats > .stats > table > tbody > tr > td:nth-of-type(1) {width: 10vw; padding-right: 5vw; font-size: 20px; text-align: right; color: #000060;}
#stats > .stats > table > tbody > tr > td:nth-of-type(2) {width: 30vw; font-size: 20px; text-align: left;}
#stats > .stats > table > tbody > tr > td:nth-of-type(n+3) {width: calc(45vw / 6); font-size: 16px; font-weight: 300;}

/* 일정 */
.fixturesButton {width: 100vw; height: 40px; position: fixed; top: 79px; left: 0; background: #fafafa; z-index: 98;}
.fixturesButton > button {width: 30vw; height: 40px; background: #fafafa; border: none; margin: 0; font-size: 16px;}
.fixturesButton > button:hover {color: #000060; border-bottom: 4px solid #000060;}

.fixturesSeason {width: 80vw; padding: 0 10vw; margin-top: 160px; display: flex; align-items: baseline;}
.fixturesSeason > p:nth-of-type(1) {font-size: 32px; padding-right: 20px; text-align: left;}
.fixturesSeason > p:nth-of-type(1) > span {font-size: 16px; margin-left: 8px; font-weight: 300;}
.fixturesSeason > p:nth-of-type(2) {width: 10vw; font-size: 16px;}
.fixturesSeason > p:nth-of-type(3) {width: 10vw; font-size: 16px;}
.fixturesSeason > p:nth-of-type(4) {font-size: 16px; font-weight: 300; padding-left: 20px;}

.fixtures {width: 90vw; margin-left: 5vw;}

.fixtures_ {width: 70vw; padding: 16px 10vw; margin: 20px 0; border-radius: 20px; box-shadow: 0 0 4px 2px #00000020;}
.fixtures_ > div:nth-of-type(1) {width: 70vw; display: flex; justify-content: center; align-items: center; margin-bottom: 16px;}
.fixtures_ > div:nth-of-type(1) > img {height: 16px;}
.fixtures_ > div:nth-of-type(1) > p {font-size: 12px; padding-left: 4px;}
.fixtures_ > div:nth-of-type(2) {width: 70vw; display: flex; justify-content: center; align-items: center;}
.fixtures_ > div:nth-of-type(2) > div:nth-of-type(2n+1) {width: 20vw;}
.fixtures_ > div:nth-of-type(2) > div:nth-of-type(2n+1) > div {width: 20vw;}
.fixtures_ > div:nth-of-type(2) > div:nth-of-type(2n+1) > div > img {height: 32px;}
.fixtures_ > div:nth-of-type(2) > div:nth-of-type(2n+1) > p {font-size: 16px; margin-top: 8px;}
.fixtures_ > div:nth-of-type(2) > div:nth-of-type(2) {width: 30vw;}
.fixtures_ > div:nth-of-type(2) > div:nth-of-type(2) > p:nth-of-type(1) {font-size: 32px; margin: -8px 0 8px 0;}
.fixtures_ > div:nth-of-type(2) > div:nth-of-type(2) > p:nth-of-type(2) {width: fit-content; height: fit-content; padding: 2px 8px; margin: auto; font-size: 12px; font-weight: 300; border: 1px solid #000000; border-radius: 8px;}

#fixturesU18 {display: none;}
#fixturesU15 {display: none;}

#calendar {width: 90vw; margin-left: 5vw; display: none;}
#calendar > table {width: 90vw; border-collapse: separate; border-spacing: 8px; table-layout: fixed; margin-top: 32px;}
#calendar > table > thead > tr > th {font-size: 20px; font-weight: 300;}
#calendar > table > thead > tr > th:nth-of-type(1) {color: #e00000;}
#calendar > table > thead > tr > th:nth-of-type(7) {color: #000060;}
#calendar > table > tbody > tr > td {width: calc(90vw / 7); height: 80px; background: #fafafa; border-radius: 8px; vertical-align: top;}
#calendar > table > tbody > tr > td > p {font-size: 16px;}
#calendar > table > tbody > tr > td > p:nth-of-type(1) {padding: 8px 0 4px 0; font-weight: 300;}
#calendar > table > tbody > tr > td:nth-of-type(1) > p {color: #e00000;}
#calendar > table > tbody > tr > td:nth-of-type(7) > p {color: #000060;}
#calendar > table > tbody > tr > td > div {height: 20px;}
#calendar > table > tbody > tr > td > div > img {height: 16px; margin: 0 2px;}

/* 경기 세부 정보 */
#matchScore {width: 70vw; padding: 16px 5vw; margin: 100px 10vw 0 10vw; border-radius: 20px; box-shadow: 0 0 4px 2px #00000020;}
#matchScore > div:nth-of-type(1) {width: 70vw; display: flex; justify-content: center; align-items: center; margin-bottom: 16px;}
#matchScore > div:nth-of-type(1) > img {height: 16px;}
#matchScore > div:nth-of-type(1) > p {font-size: 12px; padding-left: 4px;}
#matchScore > div:nth-of-type(2) {width: 70vw; display: flex; justify-content: center; align-items: center;}
#matchScore > div:nth-of-type(2) > div:nth-of-type(2n+1) {width: 20vw;}
#matchScore > div:nth-of-type(2) > div:nth-of-type(2n+1) > div {width: 20vw;}
#matchScore > div:nth-of-type(2) > div:nth-of-type(2n+1) > div > img {height: 32px;}
#matchScore > div:nth-of-type(2) > div:nth-of-type(2n+1) > p {font-size: 16px; margin-top: 4px;}
#matchScore > div:nth-of-type(2) > div:nth-of-type(2) {width: 30vw;}
#matchScore > div:nth-of-type(2) > div:nth-of-type(2) > p:nth-of-type(1) {font-size: 32px; margin: -8px 0 8px 0;}
#matchScore > div:nth-of-type(2) > div:nth-of-type(2) > p:nth-of-type(2) {width: fit-content; height: fit-content; padding: 2px 8px; margin: auto; font-size: 12px; font-weight: 300; border: 1px solid #000000; border-radius: 8px;}
#matchScore > div:nth-of-type(3) {width: 70vw; display: flex; justify-content: center; align-items: flex-start;}
#matchScore > div:nth-of-type(3) > p {width: 20vw; height: fit-content; font-weight: 300; margin-top: 8px; line-height: 1.4; white-space: nowrap;}
#matchScore > div:nth-of-type(3) > p:nth-of-type(1) {margin-right: 15vw;}
#matchScore > div:nth-of-type(3) > p:nth-of-type(2) {margin-left: 15vw;}

#match {width: 80vw; margin-left: 10vw;}

#highlight {width: 74vw; padding: 1vw 3vw; margin-left: 10vw; border-radius: 20px; box-shadow: #00000020 0px 0px 4px 2px;}
#highlight > a {display: flex; align-items: center; justify-content: center;}
#highlight > a > p {width: 62vw; margin-left: 2vw; text-align: left; font-size: 16px;}
#highlight > a > p > span {margin-left: 2vw; font-weight: 300;}
#highlight > a > img {width: 8vw; padding: 1vw; margin-right: 2vw; border-radius: 50%;}

#potm > p {font-size: 16px; padding: 2vw; text-align: left;}
#potm > div {display: flex; align-items: center;}
#potm > div > div {width: 10vw; height: 10vw; overflow: hidden; border-radius: 50vw; background: #fafafa; border: 4px solid #fafafa;}
#potm > div > div > img {width: 10vw;}
#potm > div > p:nth-of-type(1) {font-size: 16px; font-weight: 300; margin-top: 4px;}
#potm > div > p:nth-of-type(1) > span {font-size: 16px; color: #000060; margin: 0 1.5vw 0 3vw;}
#potm > div > p:nth-of-type(2) {width: 10vw; padding: 4px 0; font-size: 12px; border-radius: 50vw; color: #fafafa; position: absolute; right: 15vw;}

#matchLineup {display: none; margin-top: -4px; padding-bottom: 20px;}

.matchDetail {width: 100vw; height: fit-content; margin: 20px 0; position: relative; z-index: 98;}
.matchDetail > button {height: 24px; padding: 0 2vw; font-size: 16px; background: none; border: none;}

#startingXI {width: 80vw; margin-left: 10vw;}
#startingXI > img {width: 80vw; border-radius: 20px; position: relative; opacity: .3;}
#startingXI > table {width: 70vw; height: 110vw; margin: -115vw 0 0 5vw; z-index: 98; position: absolute;}
#startingXI > table > tbody > tr {display: flex; justify-content: center;}
#startingXI > table > tbody > tr > td {height: 27.5vw; display: flex; flex-direction: column; justify-content: center; align-items: center;}
#startingXI > table > tbody > tr > td > div {width: 10vw; height: 10vw; overflow: hidden; border-radius: 50vw; background: #fafafa; border: 4px solid #fafafa;}
#startingXI > table > tbody > tr > td > div > img {width: 10vw;}
#startingXI > table > tbody > tr > td > p:nth-of-type(1) {font-weight: 300; margin-top: 4px;}
#startingXI > table > tbody > tr > td > p:nth-of-type(1) > span:nth-of-type(1) {color: #000060; margin-right: 4px;}
#startingXI > table > tbody > tr > td > p:nth-of-type(1) > span:nth-of-type(2) {display: inline-block;}
#startingXI > table > tbody > tr > td > p:nth-of-type(1) > span:nth-of-type(2) > img {height: 16px; vertical-align: middle; margin: 0 0 2px -8px;}
#startingXI > table > tbody > tr > td > p:nth-of-type(1) > span:nth-of-type(2) > img:nth-of-type(1) {margin-left: 2px;}
#startingXI > table > tbody > tr > td > p:nth-of-type(2) {width: 8vw; padding: 4px 0; margin-top: 4px; border-radius: 50vw; color: #fafafa; background: #000000;}

#startingXI > div {width: 70vw; margin-left: 5vw;}
#startingXI > div > table {width: 70vw;}
#startingXI > div > table > tbody > tr {display: flex; width: 70vw;}
#startingXI > div > table > tbody > tr > td {height: 60px; display: flex; flex-direction: row; align-items: center;}
#startingXI > div > table > tbody > tr > td > div {width: 10vw; height: 10vw; overflow: hidden; border-radius: 50vw; background: #fafafa; border: 4px solid #fafafa;}
#startingXI > div > table > tbody > tr > td > div > img {width: 10vw;}
#startingXI > div > table > tbody > tr > td > p:nth-of-type(1) {font-size: 16px; font-weight: 300; margin-top: 4px;}
#startingXI > div > table > tbody > tr > td > p:nth-of-type(1) > span:nth-of-type(1) {font-size: 16px; color: #000060; margin: 0 1.5vw 0 3vw;}
#startingXI > div > table > tbody > tr > td > p:nth-of-type(1) > span:nth-of-type(2) > img {height: 16px; vertical-align: middle; margin: 0 0 2px -8px;}
#startingXI > div > table > tbody > tr > td > p:nth-of-type(1) > span:nth-of-type(2) > img:nth-of-type(1) {margin-left: 2px;}
#startingXI > div > table > tbody > tr > td > p:nth-of-type(2) {width: 10vw; padding: 4px 0; font-size: 12px; border-radius: 50vw; color: #fafafa; background: #000000; position: absolute; right: 15vw;}

#sub {width: 70vw; margin: 60px 0 0 15vw;}
#sub > table {width: 70vw; height: 110vw;}
#sub > table > thead > tr > th {width: 70vw; height: 20px; font-size: 16px;}
#sub > table > tbody > tr {display: flex; width: 70vw;}
#sub > table > tbody > tr > td {height: 60px; display: flex; flex-direction: row; align-items: center;}
#sub > table > tbody > tr > td > div {width: 10vw; height: 10vw; overflow: hidden; border-radius: 50vw; background: #fafafa; border: 4px solid #fafafa;}
#sub > table > tbody > tr > td > div > img {width: 10vw;}
#sub > table > tbody > tr > td > p:nth-of-type(1) {font-size: 16px; font-weight: 300; margin-top: 4px;}
#sub > table > tbody > tr > td > p:nth-of-type(1) > span:nth-of-type(1) {font-size: 16px; color: #000060; margin: 0 1.5vw 0 3vw;}
#sub > table > tbody > tr > td > p:nth-of-type(1) > span:nth-of-type(2) > img {height: 16px; vertical-align: middle; margin: 0 0 2px -8px;}
#sub > table > tbody > tr > td > p:nth-of-type(1) > span:nth-of-type(2) > img:nth-of-type(1) {margin-left: 2px;}
#sub > table > tbody > tr > td > p:nth-of-type(2) {width: 10vw; padding: 4px 0; font-size: 12px; border-radius: 50vw; color: #fafafa; background: #000000; position: absolute; right: 15vw;}

#matchStat {display: none; padding-bottom: 40px;}
#matchStat > table {width: 80vw; margin-left: 10vw;}
#matchStat > table > tbody > tr {height: 48px; display: flex; align-items: center; box-shadow: 0 0 4px 2px #00000020; border-radius: 20px; margin-top: 20px;}
#matchStat > table > tbody > tr > td:nth-of-type(2) {width: 25vw;}
#matchStat > table > tbody > tr > td:nth-of-type(2n+1) {width: 27.5vw; display: flex; align-items: center; justify-content: center;}
#matchStat > table > tbody > tr > td:nth-of-type(2n+1) > p {width: 7.5vw; height: 7.5vw; border-radius: 20px; font-weight: 300; display: flex; align-items: center; justify-content: center;}
#matchStat > table > tbody > tr:nth-of-type(1) {height: fit-content; display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 16px 0; margin-top: 0;}
#matchStat > table > tbody > tr:nth-of-type(1) > td:nth-of-type(1) {width: 70vw; font-weight: 900; padding-bottom: 20px;}
#matchStat > table > tbody > tr:nth-of-type(1) > td:nth-of-type(2) {width: 70vw; display: flex;}
#matchStat > table > tbody > tr:nth-of-type(1) > td:nth-of-type(2) > p:nth-of-type(1) {height: 32px; border-radius: 20px 0 0 20px; display: flex; align-items: center; justify-content: flex-start;}
#matchStat > table > tbody > tr:nth-of-type(1) > td:nth-of-type(2) > p:nth-of-type(2) {height: 32px; border-radius: 0 20px 20px 0; display: flex; align-items: center; justify-content: flex-end;}

#matchH2H {display: none; flex-direction: column; align-items: center; padding-bottom: 40px;}
#matchH2H > div:nth-of-type(2) {width: 80vw; display: flex; border-radius: 8px; overflow: hidden;}
#matchH2H > div:nth-of-type(2) > p {font-size: 16px; font-weight: 300; color: #fafafa; display: flex; align-items: center; justify-content: center;}
#matchH2H > div:nth-of-type(4) {width: 80vw; display: flex; border-radius: 8px; overflow: hidden; margin-top: 10vw;}
#matchH2H > div:nth-of-type(4) > p {font-size: 16px; font-weight: 300; color: #fafafa; display: flex; align-items: center; justify-content: center;}

#expectedResult {width: 70vw; padding: 16px 5vw; margin: 0 10vw 40px 10vw; border-radius: 20px; box-shadow: 0 0 4px 2px #00000020;}
#expectedResult > div:nth-of-type(1) {font-size: 14px; margin-bottom: 8px;}
#expectedResult > div:nth-of-type(1) > img {height: 14px; margin: 0 0 -2px 4px;}
#expectedResult > div:nth-of-type(2) {width: 70vw; display: flex; justify-content: center; align-items: center;}
#expectedResult > div:nth-of-type(2) > div {width: 20vw;}
#expectedResult > div:nth-of-type(2) > div > div {width: 20vw;}
#expectedResult > div:nth-of-type(2) > div > div > img {height: 32px;}
#expectedResult > div:nth-of-type(2) > p {width: 30vw; font-size: 32px;}
#expectedResult > div:nth-of-type(3) {width: 70vw; display: flex; justify-content: center; align-items: flex-start;}
#expectedResult > div:nth-of-type(3) > p {width: 20vw; height: fit-content; font-weight: 300; margin-top: 8px; line-height: 1.4; white-space: nowrap;}
#expectedResult > div:nth-of-type(3) > p:nth-of-type(1) {margin-right: 5vw;}
#expectedResult > div:nth-of-type(3) > p:nth-of-type(3) {margin-left: 5vw;}

#help {opacity: 0; width: calc(90vw - 16px); color: #fafafa; background: #000000aa; padding: 12px 8px; line-height: 1.3; font-weight: 300; border-radius: 3vw; position: fixed; left: 5vw; bottom: 5vw; pointer-events: none;}
#recentMatch {width: 80vw; box-shadow: 0 0 4px 2px #00000020; border-radius: 20px; margin-top: 40px;}
#recentMatch > div {width: 80vw; height: 60px; border-bottom: 2px solid #00000020; padding: 4px 0 8px 0;}
#recentMatch > div > div:nth-of-type(1) {width: 80vw; height: 40px; display: flex; align-items: center;}
#recentMatch > div > div:nth-of-type(1) > div:nth-of-type(1) {width: 30vw; display: flex; align-items: center; justify-content: flex-end;}
#recentMatch > div > div:nth-of-type(1) > div:nth-of-type(1) > img {height: 20px;}
#recentMatch > div > div:nth-of-type(1) > div:nth-of-type(2) {width: 15vw; height: 24px; display: flex; align-items: center; justify-content: center; margin: 0 2.5vw;}
#recentMatch > div > div:nth-of-type(1) > div:nth-of-type(2) > p {font-size: 20px;}
#recentMatch > div > div:nth-of-type(1) > div:nth-of-type(2) > img {height: 12px; padding: 0 4px;}
#recentMatch > div > div:nth-of-type(1) > div:nth-of-type(3) {width: 30vw; display: flex; align-items: center; justify-content: flex-start;}
#recentMatch > div > div:nth-of-type(1) > div:nth-of-type(3) > img {height: 20px;}
#recentMatch > div > div:nth-of-type(2) {width: 80vw; height: 20px;}
#recentMatch > div > div:nth-of-type(2) > p {width: fit-content; height: fit-content; padding: 2px 8px; margin: auto; font-size: 12px; font-weight: 300; border: 1px solid #000000; border-radius: 8px;}

#viewAll {height: 20px !important; display: flex; justify-content: center; align-items: center;}

/* 순위 */
.standingsButton {width: 100vw; height: 40px; position: fixed; top: 79px; left: 0; background: #fafafa; z-index: 98;}
.standingsButton > button {width: 30vw; height: 40px; background: #fafafa; border: none; margin: 0; font-size: 16px;}
.standingsButton > button:hover {color: #000060; border-bottom: 4px solid #000060;}

.standingsSeason {width: 80vw; padding: 0 10vw; margin-top: 160px; display: flex; align-items: baseline;}
.standingsSeason > p:nth-of-type(1) {font-size: 32px; padding-right: 20px; text-align: left;}
.standingsSeason > p:nth-of-type(2) {width: 20vw; font-size: 16px; font-weight: 300;}
.standingsSeason > p:nth-of-type(n+3):nth-of-type(-n+4) {width: 10vw; font-size: 16px;}
.standingsSeason > p:nth-of-type(5) {font-size: 16px; font-weight: 300; padding-left: 20px;}

#standingsA {margin-top: 20px;}
#standingsA > div {width: 90vw; margin: 0 0 40px 5vw;}
#standingsA > div > table {width: 90vw; vertical-align: middle;}
#standingsA > div > table > thead > tr {height: 40px;}
#standingsA > div > table > thead > tr > th {font-weight: 300; font-size: 12px;}
#standingsA > div > table > thead > tr > th:nth-of-type(n+4):nth-of-type(-n+6) {display: none;}
#standingsA > div > table > thead > tr > th:nth-of-type(n+8) {display: none;}
#standingsA > div > table > tbody > tr > td {width: 10vw; font-size: 16px; height: 40px;}
#standingsA > div > table > tbody > tr > td:nth-of-type(3) {width: 45vw; padding-left: 5vw; text-align: left; display: table-cell;}
#standingsA > div > table > tbody > tr > td:nth-of-type(n+5):nth-of-type(-n+7) {display: none;}
#standingsA > div > table > tbody > tr > td:nth-of-type(n+9) {display: none;}
#standingsA > div > table > tbody > tr > td > img {height: 24px;}

#standingsU18 {margin-top: 20px;}
#standingsU18 > div {width: 90vw; margin: 0 0 40px 5vw;}
#standingsU18 > div > p {font-size: 16px; font-weight: 300; margin: 32px 0 8px 0;}
#standingsU18 > div > table {width: 90vw; vertical-align: middle;}
#standingsU18 > div > table > thead > tr {height: 40px;}
#standingsU18 > div > table > thead > tr > th {font-weight: 300; font-size: 12px;}
#standingsU18 > div > table > thead > tr > th:nth-of-type(n+4):nth-of-type(-n+6) {display: none;}
#standingsU18 > div > table > thead > tr > th:nth-of-type(n+8) {display: none;}
#standingsU18 > div > table > tbody > tr > td {width: 10vw; font-size: 16px; height: 40px;}
#standingsU18 > div > table > tbody > tr > td:nth-of-type(3) {width: 45vw; padding-left: 5vw; text-align: left; display: table-cell;}
#standingsU18 > div > table > tbody > tr > td:nth-of-type(n+5):nth-of-type(-n+7) {display: none;}
#standingsU18 > div > table > tbody > tr > td:nth-of-type(n+9) {display: none;}
#standingsU18 > div > table > tbody > tr > td > img {height: 24px;}

#standingsU15 {margin-top: 20px;}
#standingsU15 > div {width: 90vw; margin: 0 0 40px 5vw;}
#standingsU15 > div > table {width: 90vw; vertical-align: middle;}
#standingsU15 > div > table > thead > tr {height: 40px;}
#standingsU15 > div > table > thead > tr > th {font-weight: 300; font-size: 12px;}
#standingsU15 > div > table > thead > tr > th:nth-of-type(n+4):nth-of-type(-n+6) {display: none;}
#standingsU15 > div > table > thead > tr > th:nth-of-type(n+8) {display: none;}
#standingsU15 > div > table > tbody > tr > td {width: 10vw; font-size: 16px; height: 40px;}
#standingsU15 > div > table > tbody > tr > td:nth-of-type(3) {width: 45vw; padding-left: 5vw; text-align: left; display: table-cell;}
#standingsU15 > div > table > tbody > tr > td:nth-of-type(n+5):nth-of-type(-n+7) {display: none;}
#standingsU15 > div > table > tbody > tr > td:nth-of-type(n+9) {display: none;}
#standingsU15 > div > table > tbody > tr > td > img {height: 24px;}

tr.sefc {background: #000060;}
tr.sefc > td {color: #fafafa;}
tr.sefc > td:nth-of-type(1) {border-radius: 20px 0 0 20px;}
tr.sefc > td:nth-of-type(8) {border-radius: 0 20px 20px 0;}
tr.sefc > td:nth-last-of-type(1) {border-radius: 0 20px 20px 0;}
tr.sefc > td > p {background: #fafafa !important; color: #000000 !important;}