@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Noto+Sans+KR:wght@200;500;800&family=Noto+Sans:wght@200;500;800&display=swap");
@font-face {font-family: "Dia Gothic"; font-weight: 100; src: url(./files/Pretendard-Thin.woff2);}
@font-face {font-family: "Dia Gothic"; font-weight: 500; src: url(./files/Pretendard-Medium.woff2);}
@font-face {font-family: "Dia Gothic"; font-weight: 900; src: url(./files/Pretendard-Black.woff2);}

* {color: #000831; margin: 0; padding: 0; text-align: center; font-family: "Dia Gothic"; font-weight: 900; font-size: 12px; list-style: none; text-decoration-line: none; border-collapse: collapse; border-spacing: 0; word-break: keep-all;}
*::-webkit-scrollbar {display: none;}

body {position: absolute; background: #fafafa;}

/* 헤더 */
header {width: 100vw; height: 50px; position: fixed; top: 0; left: 0; background: #fafafa; z-index: 99;}

/* 푸터 */
footer {width: 95vw; height: calc(70px - 2.5vw); position: fixed; bottom: 2.5vw; left: 2.5vw; background: #fafafa; z-index: 100; display: flex; align-items: center; justify-content: center; border-radius: 50vw; box-shadow: 0px 0px 5px 1px #00083120;}
footer > a > ul {width: 60px; height: 35px; display: flex; align-items: center; justify-content: center;}
footer > a > ul > img {height: 20px; filter: invert(8%) sepia(23%) saturate(6149%) hue-rotate(216deg) brightness(89%) contrast(112%);}
footer > a:nth-of-type(3) > ul > img {height: 35px; filter: none;}
footer > a > div {width: 100px; height: 35px; margin: 0 10px; color: #fafafa; background: #000831; font-size: 16px; display: flex; align-items: center; justify-content: center; border-radius: 100vw;}
footer > a > div > img {height: 20px; padding: 0 3vw 0 0; filter: invert(98%) sepia(26%) saturate(0%) hue-rotate(201deg) brightness(110%) contrast(100%);}
footer > a:nth-of-type(3) > ul {background: #000831; width: 45px; height: 45px; border-radius: 50%; margin: 0 10px;}

/* 404 */
#page404 {height: calc(100vh - 250px); display: flex; align-items: center; justify-content: center; flex-direction: column;}
#page404 > p {padding: 10px 0;}
#page404 > p:nth-of-type(1) {font-size: 120px; line-height: 1;}
#page404 > p:nth-of-type(2) {font-size: 16px; font-weight: 500;}
#page404 > p:nth-of-type(3) > a {font-size: 18px; font-weight: 500; text-decoration: underline;}

/* 오프셋 */
#headerOffset {width: 100vw; height: 50px; display: block; visibility: hidden;}
#footerOffset {width: 100vw; height: 100px; display: block; visibility: hidden;}
#playerButtonOffset {width: 100vw; height: 80px; visibility: hidden;}
#fixturesButtonOffset {width: 100vw; height: 80px; visibility: hidden;}
#standingsButtonOffset {width: 100vw; height: 80px; visibility: hidden;}

/* 홈 화면 */
#nextMatch {width: 90vw; height: 120px; margin: 30px 0 0 5vw; box-shadow: 0px 0px 5px 1px #00083120; border-radius: 5vw;}
#nextMatch > div:nth-of-type(1) {width: 90vw; height: 90px; border-bottom: 3px solid #00083110; border-radius: 20px 20px 0 0; display: flex; align-items: center; justify-content: center;}
#nextMatch > div:nth-of-type(1) > div:nth-of-type(1) {display: flex; align-items: center; position: absolute; left: 10vw;}
#nextMatch > div:nth-of-type(1) > div:nth-of-type(1) > div {width: 10vw;}
#nextMatch > div:nth-of-type(1) > div:nth-of-type(1) > p {text-align: left; font-size: 20px; margin-left: 5px;}
#nextMatch > div:nth-of-type(1) > div:nth-of-type(2) {padding: 5px 3vw; box-shadow: 0px 0px 5px 1px #00083140; border-radius: 20px;}
#nextMatch > div:nth-of-type(1) > div:nth-of-type(2) > span {font-size: 20px;}
#nextMatch > div:nth-of-type(1) > div:nth-of-type(3) {display: flex; align-items: center; position: absolute; right: 10vw;}
#nextMatch > div:nth-of-type(1) > div:nth-of-type(3) > div {width: 10vw;}
#nextMatch > div:nth-of-type(1) > div:nth-of-type(3) > p {text-align: right; font-size: 20px; margin-right: 5px;}
#nextMatch > div:nth-of-type(1) > div:nth-of-type(2n+1) > div > img {width: auto; height: 30px; vertical-align: middle;}
#nextMatch > div:nth-of-type(2) {width: 90vw; display: flex; align-items: center; margin-top: -2px;}
#nextMatch > div:nth-of-type(2) > div:nth-of-type(1) {height: 30px; display: flex; align-items: center; justify-content: left;}
#nextMatch > div:nth-of-type(2) > div:nth-of-type(1) > img {width: auto; height: 10px; margin: 0 5px 0 30px;}
#nextMatch > div:nth-of-type(2) > div:nth-of-type(1) > p {font-weight: 500; text-align: left;}
#nextMatch > div:nth-of-type(2) > div:nth-of-type(2) {height: 30px; display: flex; align-items: center; justify-content: right; position: absolute; right: 5vw;}
#nextMatch > div:nth-of-type(2) > div:nth-of-type(2) > p {font-weight: 500; text-align: right; margin-right: 30px;}

#latestNews {width: 90vw; height: 300px; margin-left: 5vw; overflow: scroll; display: flex; align-items: center;}
#latestNews > div {width: 60vw; height: 200px; box-shadow: 0px 0px 5px 1px #00083140; border-radius: 5vw; flex-shrink: 0; margin: 0 10px; display: flex; align-items: flex-end;}
#latestNews > div:nth-of-type(1) {margin: 0 10px 0 0;}
#latestNews > div > p {color: #fafafa; padding: 5vw; text-align: left; font-size: 14px; line-height: 1.4;}

#latestNews > a > div {box-shadow: 0px 0px 5px 1px #00083140; border-radius: 5vw; flex-shrink: 0; margin: 0 10px; display: flex; align-items: flex-end;}

/* 뉴스 */
#news {width: 80vw; margin-left: 10vw;}
.news {width: 80vw; display: flex; align-items: center; border-radius: 5vw; box-shadow: 0px 0px 5px 1px #00083120; padding: 3vw 0; margin: 20px 0;}
.news > div {width: 20vw; height: 20vw; overflow: hidden; border-radius: 5vw; display: flex; align-items: center; justify-content: center; margin-left: 5vw;}
.news > div > img {height: 20vw;}
.news > p {width: 45vw; padding-left: 5vw; text-align: left; font-size: 16px; line-height: 1.4;}
.news:nth-of-type(1) {width: 80vw; height: 60vw; overflow: hidden; border-radius: 5vw; box-shadow: 0px 0px 5px 1px #00083120; padding: 0; margin: 20px 0; display: flex; align-items: flex-end;}
.news:nth-of-type(1) > p {width: 70vw; color: #fafafa; padding: 5vw;}

.rumour {width: 80vw; border-radius: 5vw; box-shadow: 0px 0px 5px 1px #00083120; padding: 3vw 0; margin: 20px 0;}
.rumour > div:nth-of-type(1) {width: 70vw; margin-left: 5vw; border-bottom: 1px solid #000831; display: flex; align-items: center; justify-content: flex-start; padding-bottom: 3vw;}
.rumour > div:nth-of-type(1) > div {width: 10vw; height: 10vw; overflow: hidden; object-fit: cover; border-radius: 50%;}
.rumour > div:nth-of-type(1) > div > img {width: 10vw;}
.rumour > div:nth-of-type(1) > p:nth-of-type(1){width: 40vw; font-size: 18px; text-align: left; padding-left: 3vw;}
.rumour > div:nth-of-type(1) > p:nth-of-type(2){width: 20vw; font-size: 18px; text-align: right;}
.rumour > div:nth-of-type(2) {display: flex; align-items: center; padding-top: 3vw;}
.rumour > div:nth-of-type(2) > p:nth-of-type(1) {width: 25vw; text-align: right;}
.rumour > div:nth-of-type(2) > p:nth-of-type(2) {width: 25vw; text-align: left;}
.rumour > div:nth-of-type(2) > div {width: 7vw; padding: 0 3vw; display: flex; align-items: center; justify-content: center;}
.rumour > div:nth-of-type(2) > div > img {height: 30px;}
.rumour > div:nth-of-type(2) > img {width: 4vw;}

.official {width: 80vw; border-radius: 5vw; box-shadow: 0px 0px 5px 1px #00083120; padding: 3vw 0; margin: 20px 0;}
.official > div:nth-of-type(1) {width: 70vw; margin-left: 5vw; border-bottom: 1px solid #000831; display: flex; align-items: center; justify-content: flex-start; padding-bottom: 3vw;}
.official > div:nth-of-type(1) > div {width: 10vw; height: 10vw; overflow: hidden; object-fit: cover; border-radius: 50%;}
.official > div:nth-of-type(1) > div > img {width: 10vw;}
.official > div:nth-of-type(1) > p:nth-of-type(1){width: 40vw; font-size: 18px; text-align: left; padding-left: 3vw;}
.official > div:nth-of-type(1) > p:nth-of-type(2){width: 20vw; font-size: 18px; text-align: right;}
.official > div:nth-of-type(2) {display: flex; align-items: center; padding-top: 3vw;}
.official > div:nth-of-type(2) > p:nth-of-type(1) {width: 25vw; text-align: right;}
.official > div:nth-of-type(2) > p:nth-of-type(2) {width: 25vw; text-align: left;}
.official > div:nth-of-type(2) > div {width: 7vw; padding: 0 3vw; display: flex; align-items: center; justify-content: center;}
.official > div:nth-of-type(2) > div > img {height: 30px;}
.official > div:nth-of-type(2) > img {width: 4vw;}

#showMore {width: 80vw; height: 30px; margin-left: 10vw; box-shadow: 0px 0px 5px 1px #00083120; border-radius: 5vw; display: flex; align-items: center; justify-content: center;}

/* 선수단 */
.playerButton {width: 100vw; position: fixed; top: 80px; left: 0; background: #fafafa; z-index: 100;}
.playerButton > button {width: 70px; height: 25px; background: #fafafa; color: #000831; margin: 7.5px 10px; border: 1px solid #000831; border-radius: 50px;}

#playerA > div {width: 90vw; margin-left: 5vw; margin-top: 50px; overflow: scroll; text-align: center;}
#playerA > div > p {width: 90vw; height: 25px; font-size: 18px;}
#playerA > div > a > div {width: 85vw; height: 30vw; display: flex; justify-content: center; flex-direction: row; align-items: center; border-radius: 10px; background: #fafafa; box-shadow: 0px 0px 5px 1px #00083120; margin: 20px 2.5vw;}
#playerA > div > a > div > div {width: 30vw; height: 30vw; overflow: hidden; box-shadow: none;}
#playerA > div > a > div > div > img {width: 30vw; margin-top: 2vw;}
#playerA > div > a > div > p {width: 40vw; font-size: 30px; border-radius: 0 0 10px 10px; display: flex; justify-content: center; align-items: center; font-style: italic;}
#playerA > div > a > div > p > span {font-family: "Kaushan Script"; margin-right: 3vw; color: #174fff; font-size: inherit; -webkit-text-stroke: 1px; font-style: normal;}

#playerU18 {display: none;}
#playerU18 > div {width: 90vw; margin-left: 5vw; margin-top: 50px; overflow: scroll; text-align: center;}
#playerU18 > div > p {width: 90vw; height: 25px; font-size: 18px;}
#playerU18 > div > a > div {width: 85vw; height: 30vw; display: flex; justify-content: center; flex-direction: row; align-items: center; border-radius: 10px; background: #fafafa; box-shadow: 0px 0px 5px 1px #00083120; margin: 20px 2.5vw;}
#playerU18 > div > a > div > div {width: 26vw; height: 26vw; margin-right: 4vw; overflow: hidden; box-shadow: none;}
#playerU18 > div > a > div > div > img {width: 26vw; border-radius: 50%;}
#playerU18 > div > a > div > p {width: 40vw; font-size: 30px; border-radius: 0 0 10px 10px; display: flex; justify-content: center; align-items: center; font-style: italic;}
#playerU18 > div > a > div > p > span {font-family: "Kaushan Script"; margin-right: 3vw; color: #174fff; font-size: inherit; -webkit-text-stroke: 1px; font-style: normal;}

#playerU15 {display: none;}
#playerU15 > div {width: 90vw; margin-left: 5vw; margin-top: 50px; overflow: scroll; text-align: center;}
#playerU15 > div > p {width: 90vw; height: 25px; font-size: 18px;}
#playerU15 > div > a > div {width: 85vw; height: 30vw; display: flex; justify-content: center; flex-direction: row; align-items: center; border-radius: 10px; background: #fafafa; box-shadow: 0px 0px 5px 1px #00083120; margin: 20px 2.5vw;}
#playerU15 > div > a > div > div {width: 26vw; height: 26vw; margin-right: 4vw; overflow: hidden; box-shadow: none;}
#playerU15 > div > a > div > div > img {width: 26vw; border-radius: 50%;}
#playerU15 > div > a > div > p {width: 40vw; font-size: 30px; border-radius: 0 0 10px 10px; display: flex; justify-content: center; align-items: center; font-style: italic;}
#playerU15 > div > a > div > p > span {font-family: "Kaushan Script"; margin-right: 3vw; color: #174fff; font-size: inherit; -webkit-text-stroke: 1px; font-style: normal;}

/* 선수 정보 */
.playerDetail {width: 100vw; height: 50px; margin-top: 25px; position: relative; z-index: 98;}
.playerDetail > button {width: 70px; height: 25px; font-size: 16px; background: none; border: none;}

#playerMain {width: 100vw; display: flex; position: fixed; top: 80px; left: 0; z-index: -100;}

#playerName {position: absolute; top: 30px; left: 20vw;}
#playerName > div {display: flex; align-items: center;}
#playerName > div > img {height: 50px;}
#playerName > div > img:nth-child(2) {height: 35px; margin-top: 5px; border-radius: 100%; border: 3px solid #000831; margin-left: -15px; z-index: -100;}
#playerName > p {text-shadow: 1px 0 #fafafa, -1px 0 #fafafa, 0 1px #fafafa, 0 -1px #fafafa, 0.5px 0.5px #fafafa, -0.5px -0.5px #fafafa, -0.5px 0.5px #fafafa, 0.5px -0.5px #fafafa;}
#playerName > p:nth-child(2) {font-size: 30px; text-align: left; display: flex; flex-direction: column; align-items: flex-start;}
#playerName > p:nth-child(2) > span {font-weight: 500;}
#playerName > p:nth-child(2) > span:nth-child(2) {margin-bottom: 1px;}
#playerName > p:nth-child(3) {font-family: "Kaushan Script"; color: #174fff; float: left; margin: -1px 5px 0 0;}
#playerName > p:nth-child(4) {font-weight: 500; text-align: left;}

#playerImg {width: 100vw; height: 250px; overflow: hidden;}
#playerImg > img {height: 350px; margin-left: 15vw;}

#playerInfo {width: 100vw; margin-top: 250px; background: #fafafa; box-shadow: 0 -3px 3px 1px #00083110; border-radius: 15vw 15vw 0 0;}

#playerPers {width: 75vw; height: 100px; display: flex; margin-left: 12.5vw; align-items: center;}
#playerPers > div {width: 20vw; margin: 0 2.5vw;}
#playerPers > div > p:nth-child(1) {font-size: 18px;}
#playerPers > div > p:nth-child(2) {font-size: 10px; margin-top: 5px; font-weight: 500;}

#playerSNS {width: 200px; border: 1px solid #000831; border-radius: 50px; padding: 5px 0; margin: 20px 0 0 calc((100vw - 200px) / 2); display: flex; justify-content: center; align-items: center;}
#playerSNS > img:nth-child(1) {height: 20px; margin-right: 5px;}
#playerSNS > img:nth-child(2) {height: 30px;}

#playerPos {width: 50vw; margin: 30px 0 0 25vw;}
#playerPos > img {width: 50vw; border-radius: 2vw; opacity: 50%;}

#playerStat {width: 70vw; margin-left: 15vw; display: none; align-items: center; flex-direction: row; flex-wrap: wrap;}
#playerStat > div {width: 35vw;}
#playerStat > div:nth-of-type(1) {width: 70vw;}

#playerStat > div:nth-child(2) > p:nth-child(2) {width: 60vw; height: 10px; margin: 30px 0 0 5vw; background: #00083120; position: absolute; border-radius: 5px;}
#playerStat > div:nth-child(2) > p:nth-child(3) {height: 10px; margin: 30px 0 10px 5vw; background: #000831; border-radius: 5px;}
#playerStat > div:nth-child(2) > p:nth-child(4) {width: 70vw; font-size: 20px;}
#playerStat > div:nth-child(2) > p:nth-child(5) {width: 70vw; font-size: 14px; font-weight: 500;}
#playerStat > div:nth-child(n+3) > p:nth-child(2) {width: 25vw; height: 10px; margin: 30px 0 0 5vw; background: #00083120; position: absolute; border-radius: 5px;}
#playerStat > div:nth-child(n+3) > p:nth-child(3) {height: 10px; margin: 30px 0 10px 5vw; background: #000831; border-radius: 5px;}
#playerStat > div:nth-child(n+3) > p:nth-child(4) {width: 35vw; font-size: 20px;}
#playerStat > div:nth-child(n+3) > p:nth-child(5) {width: 35vw; font-size: 14px; font-weight: 500;}
#playerStat > div > canvas {display: none;}

#playerCareer {width: 70vw; margin-left: 15vw; display: none;}
#playerCareer > div {width: 70vw; box-shadow: 0px 0px 5px 1px #00083120; border-radius: 10px; margin: 30px 0;}
#playerCareer > div > p {width: 65vw; height: 30px; font-weight: 500; font-size: 16px; padding: 4vw 0 0 5vw; text-align: left;}
#playerCareer > div > div {width: 70vw; height: 60px; display: flex;}
#playerCareer > div > div > div {width: 15vw; height: 40px; margin-top: 10px;}
#playerCareer > div > div > div > img {width: auto; height: 30px; margin-top: 5px;}
#playerCareer > div > div > div > img[src$="./files/dummy.png"] {opacity: 0.5;}
#playerCareer > div > div > p:nth-of-type(1) {width: 35vw; text-align: left; font-size: 16px; display: flex; justify-content: center; flex-direction: column;}
#playerCareer > div > div > p:nth-of-type(2) {width: 15vw; text-align: right; padding-right: 5vw; font-weight: 500; display: flex; justify-content: center; flex-direction: column;}
#playerCareer > div > div > p > span {display: block; text-align: left; font-weight: 500;}

/* 일정 */
.fixturesButton {width: 100vw; position: fixed; top: 80px; left: 0; background: #fafafa; z-index: 100;}
.fixturesButton > button {width: 70px; height: 25px; background: #fafafa; color: #000831; margin: 7.5px 10px; border: 1px solid #000831; border-radius: 50px;}

.fixturesSeason {width: 90vw; height: 25px; padding: 10px 5vw; overflow: hidden; display: flex; flex-direction: column; flex-wrap: wrap; position: fixed; background: #fafafa; z-index: 100;}
.fixturesSeason > button {width: 17vw; height: 25px; background: none; border: 1px solid #000831; border-radius: 50px;}
.fixturesSeason > div {width: 73vw; height: 25px; overflow: scroll; display: none;}
.fixturesSeason > div > button {height: 25px; padding: 0 2vw; background: none; border: 1px solid #000831; border-radius: 50px; margin-left: 2vw;}

.fixtures > div {width: 90vw; height: 120px; margin: 30px 0 0 5vw; box-shadow: 0px 0px 5px 1px #00083120; border-radius: 20px;}
.fixtures > div:nth-of-type(1) {margin-top: 80px;}
.fixtures > div > div:nth-of-type(1) {width: 90vw; height: 90px; border-bottom: 3px solid #00083110; border-radius: 20px 20px 0 0; display: flex; align-items: center; justify-content: center;}
.fixtures > div > div:nth-of-type(1) > div:nth-of-type(1) {display: flex; align-items: center; position: absolute; left: 10vw;}
.fixtures > div > div:nth-of-type(1) > div:nth-of-type(1) > div {width: 10vw;}
.fixtures > div > div:nth-of-type(1) > div:nth-of-type(1) > p {text-align: left; font-size: 20px; margin-left: 5px;}
.fixtures > div > div:nth-of-type(1) > div:nth-of-type(2) {padding: 5px 3vw; box-shadow: 0px 0px 5px 1px #00083140; border-radius: 20px;}
.fixtures > div > div:nth-of-type(1) > div:nth-of-type(2) > span {font-size: 20px;}
.fixtures > div > div:nth-of-type(1) > div:nth-of-type(3) {display: flex; align-items: center; position: absolute; right: 10vw;}
.fixtures > div > div:nth-of-type(1) > div:nth-of-type(3) > div {width: 10vw;}
.fixtures > div > div:nth-of-type(1) > div:nth-of-type(3) > p {text-align: right; font-size: 20px; margin-right: 5px;}
.fixtures > div > div:nth-of-type(1) > div:nth-of-type(2n+1) > div > img {width: auto; height: 30px; vertical-align: middle;}
.fixtures > div > div:nth-of-type(2) {width: 90vw; display: flex; align-items: center; margin-top: -2px;}
.fixtures > div > div:nth-of-type(2) > div:nth-of-type(1) {height: 30px; display: flex; align-items: center; justify-content: left;}
.fixtures > div > div:nth-of-type(2) > div:nth-of-type(1) > img {width: auto; height: 10px; margin: 0 5px 0 30px;}
.fixtures > div > div:nth-of-type(2) > div:nth-of-type(1) > p {font-weight: 500; text-align: left;}
.fixtures > div > div:nth-of-type(2) > div:nth-of-type(2) {height: 30px; display: flex; align-items: center; justify-content: right; position: absolute; right: 5vw;}
.fixtures > div > div:nth-of-type(2) > div:nth-of-type(2) > p {font-weight: 500; text-align: right; margin-right: 30px;}

#fixturesU18 {display: none;}
#fixturesU15 {display: none;}

/* 경기 세부 정보 */
#matchScore {width: 70vw; margin: 20px 0 0 10vw; padding: 7vw 5vw; display: flex; border-radius: 20px; box-shadow: 0px 0px 5px 1px #00083120;}
#matchScore > div:nth-of-type(2n+1) {width: 20vw; display: flex; flex-direction: column; align-items: center;}
#matchScore > div:nth-of-type(2n+1) > img {height: 50px;}
#matchScore > div:nth-of-type(2n+1) > p:nth-of-type(1) {width: 25vw; font-size: 14px; margin-top: 10px; font-weight: 500;}
#matchScore > div:nth-of-type(2n+1) > p:nth-of-type(2) {font-size: 10px; font-weight: 100; line-height: 1.6; text-align: left; margin-top: 10px;}
#matchScore > div:nth-of-type(2) > div {width: 30vw; height: 50px; display: flex; align-items: center;}
#matchScore > div:nth-of-type(2) > div > p {width: 12vw; font-size: 30px;}
#matchScore > div:nth-of-type(2) > p:nth-of-type(1) {font-weight: 500;}
#matchScore > div:nth-of-type(2) > div > img {width: 6vw;}
#date {width: 30vw; font-size: 10px; margin-top: 2px; font-weight: 500;}

#potm {width: 74vw; padding: 1vw 3vw 2vw 3vw; margin-left: 10vw; border-radius: 20px; box-shadow: 0px 0px 5px 1px #00083120;}
#potm > p {padding: 2vw; text-align: left;}
#potm > div {display: flex; align-items: center;}
#potm > div > div {width: 10vw; height: 10vw; overflow: hidden; border-radius: 50vw; background: #fafafa; border: 3px solid #fafafa;}
#potm > div > div > img {width: 10vw;}
#potm > div > p:nth-of-type(1) {font-size: 16px; font-weight: 500; margin-top: 5px;}
#potm > div > p:nth-of-type(1) > span {font-size: 16px; color: #174fff; margin: 0 1.5vw 0 3vw; font-family: "Kaushan Script";}
#potm > div > p:nth-of-type(2) {width: 10vw; padding: 3px 0; font-size: 14px; border-radius: 50vw; color: #fafafa; background: #000831; position: absolute; right: 15vw;}

#highlight {width: 80vw; height: auto; padding: 30px 0 0 10vw;}
#highlight > a > img:nth-of-type(1) {width: 80vw; height: calc(80vw * 9 / 16); border-radius: 20px; filter: saturate(0.8);}
#highlight > a > img:nth-of-type(2) {width: 60px; position: absolute; margin: calc((45vw - 42px) / 2) 0 0 calc((-80vw - 60px) / 2); z-index: 90;}

#matchLineup {display: none;}

.matchDetail {width: 100vw; height: 50px; margin-top: 5vw; position: relative; z-index: 98;}
.matchDetail > button {height: 25px; padding: 0 2vw; font-size: 16px; background: none; border: none;}

#startingXI {width: 80vw; margin: 30px 0 0 10vw;}
#startingXI > img {width: 80vw; border-radius: 2vw; position: relative; opacity: 0.5;}
#startingXI > table {width: 70vw; height: 110vw; margin: -115vw 0 0 5vw; z-index: 98; position: absolute;}
#startingXI > table > tbody > tr {display: flex;}
#startingXI > table > tbody > tr > td {height: 27.5vw; display: flex; flex-direction: column; justify-content: center; align-items: center;}
#startingXI > table > tbody > tr > td > div {width: 10vw; height: 10vw; overflow: hidden; border-radius: 50vw; background: #fafafa; border: 3px solid #fafafa;}
#startingXI > table > tbody > tr > td > div > img {width: 10vw;}
#startingXI > table > tbody > tr > td > p:nth-of-type(1) {font-weight: 500; margin-top: 5px;}
#startingXI > table > tbody > tr > td > p:nth-of-type(1) > span:nth-of-type(1) {color: #174fff; margin-right: 5px; font-family: "Kaushan Script";}
#startingXI > table > tbody > tr > td > p:nth-of-type(1) > span:nth-of-type(2) {color: #174fff; margin-left: 3px; font-family: "Kaushan Script";}
#startingXI > table > tbody > tr > td > p:nth-of-type(2) {width: 8vw; padding: 3px 0; margin-top: 5px; border-radius: 50vw; color: #fafafa; background: #000831;}

#sub {width: 70vw; margin: 30px 0 0 15vw;}
#sub > table {width: 70vw; height: 110vw;}
#sub > table > thead > tr > th {width: 70vw; height: 30px; font-size: 18px;}
#sub > table > tbody > tr {display: flex; width: 70vw;}
#sub > table > tbody > tr > td {height: 60px; display: flex; flex-direction: row; justify-content: center; align-items: center;}
#sub > table > tbody > tr > td > div {width: 10vw; height: 10vw; overflow: hidden; border-radius: 50vw; background: #fafafa; border: 3px solid #fafafa;}
#sub > table > tbody > tr > td > div > img {width: 10vw;}
#sub > table > tbody > tr > td > p:nth-of-type(1) {font-size: 16px; font-weight: 500; margin-top: 5px;}
#sub > table > tbody > tr > td > p:nth-of-type(1) > span {font-size: 16px; color: #174fff; margin: 0 1.5vw 0 3vw; font-family: "Kaushan Script";}
#sub > table > tbody > tr > td > p:nth-of-type(2) {width: 10vw; padding: 3px 0; font-size: 14px; border-radius: 50vw; color: #fafafa; background: #000831; position: absolute; right: 15vw;}

.potm {background: #174fff !important;}

#matchStat {display: none;}
#matchStat > table {width: 80vw; margin: 30px 0 0 10vw;}
#matchStat > table > tbody > tr {height: 50px; display: flex; align-items: center;}
#matchStat > table > tbody > tr > td {font-size: 14px;}
#matchStat > table > tbody > tr > td:nth-of-type(1) {width: 15.5vw; padding-right: 2vw; display: flex; justify-content: flex-end; background: #c8c8c880; border-radius: 5vw; background-clip: content-box;}
#matchStat > table > tbody > tr > td:nth-of-type(3) {width: 15vw;}
#matchStat > table > tbody > tr > td:nth-of-type(5) {width: 15.5vw; padding-left: 2vw; display: flex; justify-content: flex-start; background: #c8c8c880; border-radius: 5vw; background-clip: content-box;}
#matchStat > table > tbody > tr > td:nth-of-type(2n+2) {font-weight: 500; width: 15vw;}
#matchStat > table > tbody > tr > td:nth-of-type(1) > p {height: 2vw; border-radius: 30px 0 0 5vw;}
#matchStat > table > tbody > tr > td:nth-of-type(5) > p {height: 2vw; border-radius: 0 5vw 30px 0;}

#matchH2H {display: none; margin-top: 30px; flex-direction: column; align-items: center;}
#matchH2H > div:nth-of-type(1) {width: 80vw; display: flex; border-radius: 10px; overflow: hidden;}
#matchH2H > div:nth-of-type(1) > p {font-size: 16px; font-weight: 500; color: #fafafa; display: flex; align-items: center; justify-content: center;}
#matchH2H > div:nth-of-type(3) {width: 80vw; display: flex; border-radius: 10px; overflow: hidden; margin-top: 10vw;}
#matchH2H > div:nth-of-type(3) > p {font-size: 16px; font-weight: 500; color: #fafafa; display: flex; align-items: center; justify-content: center;}

/* 순위 */
.standingsButton {width: 100vw; position: fixed; top: 80px; left: 0; background: #fafafa; z-index: 100;}
.standingsButton > button {width: 70px; height: 25px; background: #fafafa; color: #000831; margin: 7.5px 10px; border: 1px solid #000831; border-radius: 50px;}

.standingsSeason {width: 70vw; height: 25px; margin-left: 5vw; overflow: hidden; display: flex; flex-direction: column; flex-wrap: wrap; align-content: flex-start;}
.standingsSeason > button {width: 17vw; height: 25px; background: none; border: 1px solid #000831; border-radius: 50px;}
.standingsSeason > div {width: 53vw; height: 25px; overflow: scroll; display: none;}
.standingsSeason > div > button {height: 25px; padding: 0 2vw; background: none; border: 1px solid #000831; border-radius: 50px; margin-left: 2vw;}

.standings {width: 20vw; height: 25px; float: right; margin: -25px 5vw 0 0; text-align: right;}
.standings > button {height: 6vw; padding-left: 2vw; background: none; border: none; font-weight: 500; text-align: right;}

.standingsDetail {height: 25px;}
.standingsDetail > button {width: 20vw; height: 25px; background: none; border: none;}

#standingsA > div {width: 90vw; margin-left: 5vw;}
#standingsA > div > table {width: 90vw; vertical-align: middle;}
#standingsA > div > table > thead > tr {height: 40px;}
#standingsA > div > table > thead > tr > th {font-weight: 500; font-size: 12px;}
#standingsA > div > table > thead > tr > th:nth-of-type(n+4):nth-of-type(-n+6) {display: none;}
#standingsA > div > table > tbody > tr {height: 40px;}
#standingsA > div > table > tbody > tr > td {font-size: 14px;}
#standingsA > div > table > tbody > tr > td > img {height: 20px; vertical-align: middle;}
#standingsA > div > table > tbody > tr > td:nth-of-type(n+5):nth-of-type(-n+7) {display: none;}
#standingsA > div > table > tbody > tr > td:nth-of-type(1) {width: 10vw;}
#standingsA > div > table > tbody > tr > td:nth-of-type(2) {width: 10vw;}
#standingsA > div > table > tbody > tr > td:nth-of-type(3) {width: 20vw; text-align: left;}
#standingsA > div > table > tbody > tr > td:nth-of-type(n+3) {width: 12.5vw;}
tr.sefc {background: #000831;}
tr.sefc > td {color: #fafafa;}
tr.sefc > td:nth-of-type(1) {border-radius: 15px 0 0 15px;}
tr.sefc > td:nth-last-of-type(1) {border-radius: 0 15px 15px 0;}

#standingsU18 {display: none;}
#standingsU18F {display: none;}
#standingsU18 > div {width: 90vw; margin-left: 5vw; overflow: scroll;}
#standingsU18 > div > table {width: 90vw; vertical-align: middle;}
#standingsU18 > div > table > thead > tr {height: 40px;}
#standingsU18 > div > table > thead > tr > th {font-weight: 500; font-size: 12px;}
#standingsU18 > div > table > thead > tr > th:nth-child(n+4):nth-child(-n+6) {display: none;}
#standingsU18 > div > table > thead > tr > th:nth-child(n+8) {display: none;}
#standingsU18 > div > table > tbody > tr {height: 40px;}
#standingsU18 > div > table > tbody > tr > td {font-size: 14px;}
#standingsU18 > div > table > tbody > tr > td:nth-child(1) {width: 10vw;}
#standingsU18 > div > table > tbody > tr > td:nth-child(2) {width: 0;}
#standingsU18 > div > table > tbody > tr > td:nth-child(3) {width: 10vw;}
#standingsU18 > div > table > tbody > tr > td:nth-child(3) > img {height: 25px; vertical-align: middle;}
#standingsU18 > div > table > tbody > tr > td:nth-child(4) {width: 40vw; text-align: left;}
#standingsU18 > div > table > tbody > tr > td:nth-child(n+5) {width: 15vw;}
#standingsU18 > div > table > tbody > tr > td:nth-child(n+6):nth-child(-n+8) {display: none;}
#standingsU18 > div > table > tbody > tr > td:nth-child(n+10) {display: none;}

#standingsU15 {display: none;}
#standingsU15 > div {width: 90vw; margin-left: 5vw; overflow: scroll;}
#standingsU15 > div > table {width: 90vw; vertical-align: middle;}
#standingsU15 > div > table > thead > tr {height: 40px;}
#standingsU15 > div > table > thead > tr > th {font-weight: 500; font-size: 12px;}
#standingsU15 > div > table > thead > tr > th:nth-child(n+4):nth-child(-n+6) {display: none;}
#standingsU15 > div > table > thead > tr > th:nth-child(n+8) {display: none;}
#standingsU15 > div > table > tbody > tr {height: 40px;}
#standingsU15 > div > table > tbody > tr > td {font-size: 14px;}
#standingsU15 > div > table > tbody > tr > td:nth-child(1) {width: 10vw;}
#standingsU15 > div > table > tbody > tr > td:nth-child(2) {width: 0;}
#standingsU15 > div > table > tbody > tr > td:nth-child(3) {width: 10vw;}
#standingsU15 > div > table > tbody > tr > td:nth-child(3) > img {height: 25px; vertical-align: middle;}
#standingsU15 > div > table > tbody > tr > td:nth-child(4) {width: 40vw; text-align: left;}
#standingsU15 > div > table > tbody > tr > td:nth-child(n+5) {width: 15vw;}
#standingsU15 > div > table > tbody > tr > td:nth-child(n+6):nth-child(-n+8) {display: none;}
#standingsU15 > div > table > tbody > tr > td:nth-child(n+10) {display: none;}